#window {
    border: 1px solid;
    border-color: #c6a0f6;
    border-radius: 20px;
    background-color: #494d64;
}

#input {
    margin: 9px;
    background-color: #494d64;
    color: #b8c0e0;
    border-color: #c6a0f6;
    border-radius: 12px;
    border: 1px solid;
}

#entry {
    margin: 7px 7px;
    border: #f0c6c6 1px solid;
    background-color: #b7bdf8;
    border-radius: 12px;
}

#entry:selected {
    border: 1px solid;
    outline: none;
    background-color: #8aadf4;
    color:  #8bd5ca;
    border-color: #ee99a0;
    border-radius: 12px;
}

#entry > box {
    margin-left: 15px;
}

#entry image {
    padding-right: 30px;
}